@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.el-form-item__label {
  line-height: 1rem !important;
}

.el-pagination.is-background .el-pager li {
  @apply rounded-lg bg-white transition-all;
}

.el-pagination.is-background .el-pager li:not(.is-disabled):hover {
  @apply bg-gray-200;
}

.el-pagination.is-background .el-pager li.is-active {
  @apply bg-blue-500 text-white;
}

.el-pager li {
  border-radius: 8px !important;
}

.el-pagination.is-background .btn-prev {
  border-radius: 8px !important;
}
.el-pagination.is-background .btn-next {
  border-radius: 8px !important;
}

/* Warna background menu kamu #2563eb, jadi kita buat progress bar kontras & warna-warni */

#nprogress .bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  
  background: linear-gradient(
    270deg,
    #ff3e00,
    #ffdb00,
    #00d2ff,
    #00ff94,
    #ff3e00
  );
  background-size: 1000% 1000%;
  animation: nprogress-color 4s linear infinite;
}

@keyframes nprogress-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hilangkan spinner supaya fokus ke bar */
#nprogress .spinner {
  display: none;
}
